body{
    background-color: pink;
}
.girl{
    background-color: white;
    height: 500px;
    width: 900px;
    padding: 20px;
    margin-top: 40px;
    margin: auto;
    
}
.math{
    background-color: lightpink;
    width: 184px;
    height: 7px;
    border-radius: 30px;
    padding: 20px;
    margin-left: 690px;
    margin-bottom: 99px;
    
}
.keilah{
    background-color: lightpink;
    width: 184px;
    height: 7px;
    border-radius: 30px;
    padding: 20px;
    margin-left: 690px;
    margin-bottom: 99px;
}
.adrielah{
    background-color: lightpink;
    width: 184px;
    height: 7px;
    border-radius: 30px;
    padding: 20px;
    margin-left: 690px;
    margin-bottom: 99px;
}
.jayson{
    background-color: lightpink;
    margin-left: 690px;
    border-radius: 5px;
    margin-top: 20px;
    margin: auto;
}
.elijah{
    background-color: lightpink;
    width: 184px;
    height: 7px;
    border-radius: 30px;
    padding: 20px;
    margin-left: 690px;
    margin-bottom: 99px;
}
